<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgj.accountbook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />

    <application
        android:name="com.cgj.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.cgj.accountbook.act.SplashActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cgj.accountbook.MainActivity" />
        <activity android:name="com.cgj.accountbook.act.ActivityAddAccount" />
        <activity android:name="com.cgj.accountbook.act.ActivityAbout" />
        <activity android:name="com.cgj.accountbook.act.ActivitySetting" />
        <activity android:name="com.cgj.accountbook.act.ActivityMaIncome" />
        <activity android:name="com.cgj.accountbook.act.ActivityMaLeibie" />
        <activity android:name="com.cgj.accountbook.act.ActivityMaGdkx" />
        <activity android:name="com.cgj.accountbook.act.ActivityAboutWeb" />
        <activity android:name=".test.MyDB"/>
        <meta-data
            android:name="design_width_in_dp"
            android:value="388"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="691"/>
    </application>

</manifest>